$border-grey:             #E0E0E0;
$placeholder-grey:        #999999;
$text-grey:               #3e3e3e;
$white:                   #ffffff;
$red:                     #ff3366;
$serchhover:              red;
