.contact-person-component {
  position: relative; }
  .contact-person-component .custom-width {
    width: 30% !important;
    float: left;
    margin-right: 20px; }
    .contact-person-component .custom-width.search {
      width: 20% !important; }
  .contact-person-component .custom-width-button {
    display: inline-block; }
    .contact-person-component .custom-width-button button {
      line-height: 17px; }
  .contact-person-component .info-text {
    font-size: 80%;
    color: #666666;
    max-width: 100% !important;
    margin-bottom: 0;
    margin-top: 10px; }
  .contact-person-component .other-client-container {
    position: relative; }
  .contact-person-component a {
    cursor: pointer; }
