$darken-text: darken(whitesmoke, 30%);
$darksmoke: darken(whitesmoke, 10%);

.contact-person-component {
  position: relative;
  .custom-width {
    width: 30%!important;
    float: left;
    margin-right: 20px;

    &.search {
      width: 20%!important;
    }
  }
  .hide {
    display: none;
  }

  .declaration {
    border: 1px solid $darksmoke;
    padding: 20px;
    margin-top: 10px;
    font-size: 80%;
    overflow: scroll;
    height: 300px;
  }

  .declarationTNC {
    border: 1px solid $darksmoke;
    padding: 20px;
    margin-top: 10px;
    font-size: 80%;
  }

  .custom-width-button {
    display: inline-block;
    button {
      line-height: 17px;
    }
  }
  .info-text {
    font-size: 80%;
    color: #666666;
    max-width: 100%!important;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .other-client-container{
    position: relative;
  }

  a {
    cursor: pointer;
  }
}
